In [1]:
#probability of getting 3 when a die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {3}
pa = na/ns #P(A)
print("probability of getting 3 is:",pa)

probability of getting 3 is: 0.16666666666666666

In [2]:
#probability of atleat getting one head when a coin is tossed thrice
ns = 8 #n(S) = {HHH,HHT,HTH,THH,TTT,TTH,THT,HTT}
na = 7 #n(A) = {HHH,HHT,HTH,THH,TTH,THT,HTT}
pa = na/ns
print("probability of atleast getting one head is:",pa)

probability of atleast getting one head is: 0.875

In [3]:
#A glass jar contains 5 red, 3 blue and 2 green jelly beans.
#If a jelly bean is chosen at random from the jar,
# what is the probability that it is not blue?

ns = 10
na = 7
pa = na/ns
print("probability of not getting jelly beans blue is:",pa)

probability of not getting jelly beans blue is: 0.7

In [4]:
#If the probability that person A will be alive in 20 years
#is 0.7 and the probability that person B will be alive in
#20 years is 0.5,what is the probability that they will
#both be alive in 20 years?

#these are independent events,so
P = 0.7*0.5
print("probability that they will be alive  after 20 years is:",P)

probability that they will be alive  after 20 years is: 0.35

In [5]:
def event_probability(n,s):
    return n/s

In [6]:
# A fair die is tossed twice. find the probability of getting
# a 4 or 5 on the first toss and a 1,2, or 3 in the second toss

pa = event_probability(2,6) #probability of getting 4 or 5 on the first toss
pb = event_probability(3,6) #probability of 1,2, or 3 in the second toss
P = pa*pb
print("probability of getting a 4 or 5 on the first toss and a 1,2, or 3 in the second toss:",P)

probability of getting a 4 or 5 on the first toss and a 1,2, or 3 in the second toss: 0.16666666666666666

In [7]:
# A bag contains 5 white marbles, 3 black marbles and 2 green marbles.
#in each draw, marbles is drawn from the bag
#and not replaced. In three draws, find the probability of obtaining white,
#black and green in that order.

pw = event_probability(5,10)
pb = event_probability(3,9)
pg = event_probability(2,8)
print("the probability of obtaining white,black and green in that order is:",(pw*pb*pg))

the probability of obtaining white,black and green in that order is: 0.041666666666666664

In [8]:
#sample space
cards = 52

#calculate the probability of drawing a heart or a club
hearts = 13
clubs = 13
heart_or_club = event_probability(hearts, cards) + event_probability(clubs, cards)
print(heart_or_club)

0.5

In [9]:
#calculating the probability of drawing an ace, king, or a queen

ace = 4
king = 4
queen = 4
ace_king_queen = event_probability(ace, cards) + event_probability(king,cards) + event_probability(queen, cards)
print(ace_king_queen)

0.23076923076923078

In [10]:
#calculate the probability drawing a heart or ace

ace = 4
heart = 13
ace_of_heart = 1
heart_or_ace= event_probability(heart, cards) + event_probability(ace, cards) - event_probability(ace_of_heart, cards)
print(round(heart_or_ace, 1))

0.3

In [11]:
#calculate the probability of drawing red cards or face cards
red_cards = 26
face_cards = 12
red_face_cards = 6 
red_or_face_cards = event_probability(red_cards, cards) + event_probability(face_cards, cards)
print(round(red_or_face_cards, 1))

0.7

In [12]:
#probability of not getting 5 when fair die is rolled
ns = 6 #n(S) = {1,2,3,4,5,6}
na = 1 #n(A) = {3}
pa = na/ns #P(A)
print("probability of getting 5 is:",1-pa)

probability of getting 5 is: 0.8333333333333334

In [13]:
#suppose you draw 2 cards from deck. 
#you win if you get ace given that you draw a jack in first draw

cards = 52
j = 4
a = 4
pj = event_probability(j,52)
pa = event_probability(a,51)
pa_given_j=(pj*pa)/pj
print(pa_given_j)

0.0784313725490196

# Condition Probability

In [14]:
import pandas as pd
import numpy as np
df = pd.read_csv("student-mat.csv")
df.head(3)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10

In [15]:
len(df)

395

In [16]:
df['grade_A'] = np.where(df['G3']*5 >= 80, 1, 0)

In [17]:
df['high_absensces'] = np.where(df['absences'] >= 10, 1, 0)

In [18]:
df['count'] = 1

In [19]:
df = df[['grade_A', 'high_absensces','count']]
df.head()

   grade_A  high_absensces  count
0        0               0      1
1        0               0      1
2        0               1      1
3        0               0      1
4        0               0      1

In [20]:
final = pd.pivot_table(
    df,
    values='count',
    index=['grade_A'],
    columns=['high_absensces'],
    aggfunc=np.size,
    fill_value=0
)

In [21]:
print(final)

high_absensces    0   1
grade_A
0               277  78
1                35   5

In [24]:
total=final.iloc[0,0]+final.iloc[0,1]+final.iloc[1,0]+final.iloc[1,1]
p_a=(final.iloc[1,0]+final.iloc[1,1])/total
p_a

0.10126582278481013

In [26]:
p_b=(final.iloc[0,1]+final.iloc[1,1])/total
p_b

0.21012658227848102

In [27]:
p_c=(final.iloc[1,1])/total
p_c

0.012658227848101266

In [29]:
p_d=p_c/p_b
p_d

0.060240963855421686